<div class="container" id="main">

    <div class="alert alert-secondary" role="alert">
        <h2>
            Bienvenue sur le portail des services en ligne de votre Banque.
        </h2>
    </div>
    <div>
        <p>
            Sur ce portail vous pouvez :
            <ul>
                <li>Consulter vos comptes</li>
                <li>Réaliser des virements</li>
                <li>Consulter vos contrats</li>
                <li>Contacter un conseiller</li>
            </ul>
        </p>
        <p>
            <strong>Utilisez le menu de navigation pour accéder à vos service en ligne.</strong>
        </p>
    </div>
</div>